
<%= form_for(@friend) do |b| %>
<p>
	<%= b.label :first_name %></br>
	<%= b.text_field :first_name %>
</p>
<p>
	<%= b.label :last_name %></br>
	<%= b.text_field :last_name %>
</p>
<p>
	<%= b.label :photo %></br>
	<%= b.text_field :photo %>
</p>
<p>
	<%= b.submit %></br>

</p>
<% end %>